.sector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.container {
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(grey, rgb(208, 208, 208));
    padding: 20px;
    border-radius: 5px;
}

.container label {
    margin: 0.5rem 0;
    font-weight: 600;
}

.container input {
    margin: 0.5rem 0;
    background-color: rgb(228, 228, 228);
    opacity: 3;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
}

.container button {
    margin: 0.5rem 0
}

.botao {
    display: flex;
    align-items: center;
}

.botao button {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
    color: black;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
}

.botao button:hover {
    background-color: black;
    color: white;
}

.botao label {
    margin-left: 10px;
    cursor: pointer;
}