.container {
    background: linear-gradient(var(--cinza), var(--cinza-claro));
    padding: 0.5rem 0.5rem;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);

}

.container h1 {
    margin-bottom: 20px;
    animation: flip 2s;
}

.navlink {
    margin: 0 10px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    cursor: pointer;

}

.navlink:hover {
    color: var(--branco);
    text-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);

}

@keyframes flip {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}