.sector {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(grey, rgb(208, 208, 208));
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
}